{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>History</h2>
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction type</th>
                <th>Symbol</th>
                <th>Company</th>
                <th>Shares</th>
                <th>At the price/Deposit</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row["timestamp"] }}</td>
                    <td>{{ row["type"] | capitalize() }}</td>
                    <td>{%if row["symbol"] %} {{ row["symbol"] }} {%endif%}</td>
                    <td>{{ row["company"] }}</td>
                    <td>{%if row["shares"] %} {{ row["shares"] }} {%endif%}</td>
                    <td>&#36; {{ row["price_deposit"] }}</td>
                    <td>&#36; {{ row["total"] }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
